/Binary/
/Library/
/Temp/
/Obj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb

*.*~
*.swp

#platform

#platform Windows
/Assets/UnityVS/
/Assets/UnityVS.meta

#platform OSX
.DS_STORE
